/* Basic Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Schedule Container */
.schedule-container {
  margin: 20px;
}

/* Calendar Header */
.schedule-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #007bff;
}

/* Calendar Table Styles */
.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #e0e0e0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-table th {
  background-color: #007bff;
  color: white;
}

.schedule-table td:hover {
  background-color: #d0eaff;
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Event Form Modal Styles */
.event-form-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  z-index: 1001;
}

.event-form-modal h2 {
  color: #007bff;
  margin-bottom: 15px;
}

/* Existing Event Form Styles Adjustments */
.event-form {
  background-color: #f9f9f9;
  border: none;
  display: flex;
  flex-direction: column;
}

/* Additional Styling for Inputs and Buttons */
.event-form input,
.event-form select,
.event-form button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_delete {
  background-color: red !important;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_cancel {
  background-color: #525252 !important;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-form button:hover {
  background-color: #0056b3;
}

.button_delete:hover {
  background-color: red !important;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .schedule-table th,
  .schedule-table td {
    padding: 8px;
  }
}
