/* PaymentOptions.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

.card-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  max-width: 300px;
  margin: 20px;
  animation: slideIn 0.5s ease-out forwards;
} 



.card-header,
.card-body,
.card-footer {
  padding: 20px;
}

.card-header {
  background-color: #00449e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}

.card-body .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 10px;
}

.card-footer {
  background-color: #00449e;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.card-label {
  font-weight: bold;
  color: #00449e;
}

.card-brand,
.card-last4,
.card-expiry,
.card-country,
.card-funding,
.card-secure {
  display: block;
  color: #555;
  margin: 5px 0;
}



.prices-container{
  margin-top: 2rem;
}


#total-amount{
  color: #00449e;
}

.price-option.selected {
  border-color: #00449e;
  transform: scale(1.02);
  background-color: #e9f5ff;
}



.prices-container {
  display: flex; /* Display prices inline */
  flex-wrap: wrap; /* Wrap to the next line if needed */
  flex-direction: column;

}

.price-option {
  display: block; /* Ensure the label behaves as a container */
  border: 1px solid #ccc; /* Border for the box */
  /* Padding inside the box */
  background-color: #f9f9f9; /* Light background for the box */
  cursor: pointer; /* Indicate the entire box is clickable */
  user-select: none; /* Prevent text selection */
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
  width: 30vw;
}

.price-option input[type='checkbox'] {
  display: none; /* Hide the actual checkbox */
}

.price-option .price-label {
  width: 100%;
  display: flex; /* Ensure the span behaves as a container */
  flex-direction: column;
  padding: 10px;
}

.price-option  p {
  margin-bottom: 5px;
}

.price-option .plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.price-option .plan-features li {
  background: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Subtle shadow for a 3D effect */
}


.price-option:hover,
.price-option input[type='checkbox']:checked + .price-label{
  transform: scale(1.05);
  background-color: #055d9c; /* Change background on hover/select */
  color: white ;
  border: 2px solid white;
}

.product-payment-frequency {
  font-size: 1rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  color: #447df8; /* Eye-catching color */
  background-color: #f0f0f0; /* Light background color for contrast */
  padding: 10px; /* Some padding around the text */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Centered text */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Subtle shadow for a 3D effect */
}

.product_image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.price-details h3 {
  margin: 0;
  font-size: 1.2em;
  color: #00449e;
}

.total-amount-box h5,
.total-amount-box h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.price-label span {
  font-weight: 600;
  font-size: 2rem;
}



.price-details p {
  margin: 10px 0;
  color: #666;
}

.price {
  font-size: 1.1em;
  color: #28a745;
  font-weight: bold;
}

.total-checkout-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.total-amount h3 {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.amount {
  font-size: 1.5em;
  color: #28a745;
  font-weight: bold;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.checkout_page {
  display: flex;
  justify-content: center;
  
}

.total-amount-box {
  padding: 2rem;
  
}

/* Layout for tablets (screens smaller than 1000px) */
@media (max-width: 1000px) {
  .checkout_page {
    flex-direction: column;
    align-items: center;
  }

  .total-amount-box {
    order: -1; /* Move to top */
    width: 100vw !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  .price-option {
    width: 70vw;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }

  .payments-box{
    width: 100vw !important;
    margin: 0px !important;
  }
}

/* Layout for mobile devices (screens smaller than 480px) */
@media (max-width: 480px) {
  .checkout_page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .total-amount-box {
    order: -1; /* Move to top */
    width: 100vw !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    
  }
  .price-option {
    width: 70vw;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
  .payments-box{
    width: 100vw !important;
    margin: 0px !important;
  }
}