/* SubscriptionPlansAdmin.css */

.plan_container_subscriptions {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the plan cards */
  justify-content: center;
  padding: 20px;
  height: 70vh;
}

.plan_container_subscriptions .saved_subs {
  display: flex;
  justify-content: space-around;
}

.plan_container_subscriptions .plan-card {
  background-color: #ffffff; /* White background for plan cards */
  border: 2px solid #007BFF; /* Sat Nam blue border */
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.plan_container_subscriptions .plan-card button {
  background-color: #007BFF; /* Sat Nam blue for buttons */
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.plan_container_subscriptions .plan-card img {
  width: 10rem; /* Set image width to 2rem */
  object-fit: cover; /* Ensures the image covers the frame without distorting aspect ratio */
  margin: 10px; /* Adds spacing between the image and text/content */
}

.plan_container_subscriptions .plan-card button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.plan_container_subscriptions .plan-card .subs_delete_button {
  background-color: #870909;
}

@media (max-width: 768px) {
  .plan_container_subscriptions .saved_subs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .plan_container_subscriptions {
    height: 100vh;
  }
}

/* Responsive layout for larger screens */
.modal-dialog {
  max-width: 90%;  /* Adjust based on your preference for modal width */
  margin: 10px auto;  /* Centering the modal horizontally */
  overflow: visible;  /* Allows the modal to display overflow content like drop-down menus */
}

.modal-content {
  overflow-y: auto !important;  /* Allows scrolling within the modal if content overflows */
  height: auto;  /* Height is automatically adjusted to content */
  max-height: 80vh;  /* Limits the maximum height to 80% of the viewport height */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 15px; /* Ensures space between inputs */
}

.form-control:focus {
  border-color: #007BFF; /* Sat Nam blue for focus state */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Glow effect */
}

.button-save {
  background-color: #007BFF; /* Primary button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-save:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 768px) {
  .modal-dialog {
    margin: 10px;  /* Smaller margin on smaller screens for better fit */
    max-width: 100%;  /* Use full width on small screens */
  }

  .modal-content {
    padding: 10px;  /* Reduce padding on smaller screens */
  }

  .button-save {
    width: 100%;  /* Make buttons full width for easier access */
  }
}

/* JSON FORMATTER */

.textarea-json {
  width: 100%;  /* Ensures the textarea fits within its container */
  min-height: 100px;  /* Minimum height */
  max-height: 200px;  /* Maximum height before scrolling begins within the textarea */
  overflow-y: auto;  /* Enables vertical scrolling inside the textarea */
  resize: vertical;  /* Allows vertical resizing only */
  padding: 8px;
  border: 1px solid #ccc;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
