.termsOfService {
    font-family: monospace;
    max-width: 80vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .termsSection h3 {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .termsSection h3:hover {
    background-color: #0056b3;
  }
  
  .termsSection pre {
    white-space: pre-wrap; /* Permite que el contenido se ajuste según el contenedor */
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    max-width: 100%; /* Asegura que el contenido no desborde el contenedor */
    font-size: 0.9em;
    background-color: #ffffff;
    border-left: 3px solid #007bff;
    border-radius: 0 0 4px 4px;
    padding: 10px;
  }
  