.trial-banner {
  background-color: #4caf50; /* Green background */
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 10px;
}

.trial-banner h2 {
  margin: 0;
  font-size: 24px;
}

.trial-banner p {
  margin: 5px 0;
  font-size: 18px;
}
