@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
 height: 100vh;
}

/* NAVBAR */
/* .navbar .container{
  display: flex;
  justify-content: space-between !important;
} */

.logo img{
  width: 5vw;
}
.navbar-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-nav .auth_buttons a{
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 8vw;
  background-color: #137ea7!important;
}

.navbar-nav button{
  background-color: #137ea7!important;
}
.navbar-nav .auth_buttons{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .navbar_links{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.navbar-nav .navbar_links .nav_link{
  width: 10%;
  margin-left: 3% !important;
  margin-right: 3% !important;
  font-family: 'Roboto Slab', serif;;
  font-weight: bold;
  text-decoration: none;
  width: 5vw;
  text-align: center;
  color: black;
  transition: transform 0.3s ease;
}

.navbar-nav .navbar_links a:hover {
  transform: scale(1.2);
  color: #0230c7;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Additional styles for the sticky navbar */
  /* Add any desired styles */
}


/* Style of Admin part of navbar  */
.navbar .nav-item .nav-link {
  /* Add your custom styles here */
  color: blue; /* Change text color to red */
  background-color: #f0f0f0; /* Change background color */
  /* Add other styles as needed */
}

.custom-item-navbar-admin {
  /* Add your custom styles here */
  color: black;
  /* background-color: yellow; */
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}


@media (max-width: 991px) {
  /* CSS rules for elements before 992px */

  .navbar-nav .auth_buttons a{
    width: 45%;
  }
  .navbar-nav .navbar_links{
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .navbar-nav .auth_buttons{
    width: 100%;
    justify-content: center;
  }

  .navbar-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo img{
    width: 25vw;
  }
}

/* END OF NAVBAR */



/* LANDING PAGE  */
.carousel-container {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  max-height: 80vh; /* Adjust as needed */
}

.carousel-item {
  height: 80vh; /* Adjust as needed */
  
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}



.carousel-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
 
}

.carousel-caption h1{
  font-size: 5rem;
}

.carousel-caption a{
  font-size: 2em;
}

@media (max-width: 991px) {
  /* CSS rules for elements before 992px */
  .carousel-caption h1{
    font-size: 2rem;
  }
  .carousel-caption a{
    font-size: 2rem;
  }
  
}

/* ------- VIDEO PRESENTATION */


#video_presentation{
  margin: 1em 1em 1em 1em;
  width: 50%;
}

.video-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.video-container h1{
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 991px) {
  #video_presentation{
    width: 90%;
  }
}

/* ---- BENEFITS */

.benefits{
  display: flex;
  justify-content: space-around;
}

.benefits *{
  margin: 2% 1em 2% 1em;
}

.benefits-image img{
  width: 50vw;;
  border-radius: 10px;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.benefit-item img {
  width: 5vw !important;
  transition: transform 0.3s ease-in-out;
}

.benefit-item img:hover {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.benefit-item {
  display: flex;
}

@media (max-width: 991px) {
  .benefits{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefit-item {

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .benefit-item img{
    width: 20vw !important;
    margin: 1em 0 1em 0;
  }
}


/* END OF LANDING PAGE */


/* USER ACCOUNT COMPONENT  */

.user_info_container {
  height: 100vh;
}

.user-info {
  text-align: center;
  font-size: 2rem;
}

.user-info h4 {
  font-size: 3rem;
}

.user-info > div:not(:first-child) {
  margin-top: 15px;
}

.user_form {
  /* margin: 1em 0px 0px 0px; */
  padding-top: 1rem;
}

.user_form button{
  margin: 0px 1em 0px 0px;
}


/* END OF USER ACCOUNT INFO */


/* SUBSCRIPTION FORM  */

/* Styles for the alert container */
.error-toast {
  background-color: #ff6347 !important; /* Red background color */
  color: #fff !important; /* White text color */
}

.sub_form{
  border-radius: 10px;
  margin-top: 2rem !important;
  border: 1px solid gray;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* SUBSCRIPTION END */

/* CREATE VIDEO  ADMIN CSS */



.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  /* background-color:lightgray; */
  padding: 1rem;
  border: 1px solid black;
  height: 15rem;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.create_video_form{
  height: 100%;
}

.create-video-checkbox input{
  display: block !important;
}

/* END OF CREATE VIDEO ADMIN  */


/* VIDEO CARD */

.video-card{
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem;
}

/* 
PAYMENT OPTIONS CSS */

.payment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 50vw;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payment-option:hover {
  background-color: #f0f0f0;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;;
  font-size: 1rem;
  font-weight: bold;
}

input[type="checkbox"] {
  display: none;
  
}

.checkbox-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + .checkbox-circle {
  background-color: #333;
  border-color: #333;
  transition: background-color 0.3s, border-color 0.3s;
}

.selected-option {
  margin-top: 10px;
  font-weight: bold;
}

.selected {
  background-color: #333 !important;
  color: white;
}

.payments-box{
  height: 100vh;
}

/* END OF PAYMENT OPTIONS */


