@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-bottom: 3rem;
  flex: 1;
}

.success-message {
  color: green;
  font-weight: bolder;
  font-size: 1rem;
}

/* NAVBAR */
/* .navbar .container{
  display: flex;
  justify-content: space-between !important;
} */

.logo img {
  width: 5vw;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar-nav .auth_buttons a {
  margin-left: 1% !important;
  margin-right: 1% !important;
  width: 8vw;
  background-color: #137ea7 !important;
}

.navbar-nav button {
  background-color: #137ea7 !important;
}
.navbar-nav .auth_buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .navbar_links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-nav .navbar_links .nav_link {
  width: 10%;
  margin-left: 3% !important;
  margin-right: 3% !important;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-decoration: none;
  width: 5vw;
  text-align: center;
  color: black;
  transition: transform 0.3s ease;
}

.navbar-nav .navbar_links a:hover {
  transform: scale(1.2);
  color: #0230c7;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* Additional styles for the sticky navbar */
  /* Add any desired styles */
}

/* Style of Admin part of navbar  */
.navbar .nav-item .nav-link {
  /* Add your custom styles here */
  color: blue; /* Change text color to red */
  background-color: #f0f0f0; /* Change background color */
  /* Add other styles as needed */
}

.custom-item-navbar-admin {
  /* Add your custom styles here */
  color: black;
  /* background-color: yellow; */
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media (max-width: 991px) {
  /* CSS rules for elements before 992px */

  .navbar-nav .auth_buttons a {
    width: 45%;
  }
  .navbar-nav .navbar_links {
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .navbar-nav .auth_buttons {
    width: 100%;
    justify-content: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo img {
    width: 25vw;
  }
}

/* END OF NAVBAR */

/* LOG IN  */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Use the full height of the viewport */
}

.centered-container .card {
  width: 100%;
}

/* END OF LOG IN  */

/* LANDING PAGE  */
.carousel-container {
  width: 100%;
}

.carousel-inner {
  width: 100%;
  max-height: 80vh; /* Adjust as needed */
}

.carousel-item {
  height: 80vh; /* Adjust as needed */
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.carousel-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
}

.carousel-caption h1 {
  font-size: 5rem;
}

.carousel-caption a {
  font-size: 2em;
}

@media (max-width: 991px) {
  /* CSS rules for elements before 992px */
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption a {
    font-size: 2rem;
  }
}

/* ------- VIDEO PRESENTATION */

#video_presentation {
  margin: 1em 1em 1em 1em;
  width: 50%;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.video-container h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 991px) {
  #video_presentation {
    width: 90%;
  }
}

/* ---- BENEFITS */

.benefits {
  display: flex;
  justify-content: space-around;
}

.benefits * {
  margin: 2% 1em 2% 1em;
}

.benefits-image img {
  width: 50vw;
  border-radius: 10px;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.benefit-item img {
  width: 5vw !important;
  transition: transform 0.3s ease-in-out;
}

.benefit-item img:hover {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.benefit-item {
  display: flex;
}

@media (max-width: 991px) {
  .benefits {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefit-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .benefit-item img {
    width: 20vw !important;
    margin: 1em 0 1em 0;
  }
}

/* END OF LANDING PAGE */

/* USER ACCOUNT COMPONENT  */

/* .user_info_container {
} */

.user-info {
  text-align: center;
  font-size: 2rem;
}

.user-info h4 {
  font-size: 3rem;
}

.user-info > div:not(:first-child) {
  margin-top: 15px;
}

.user_form {
  /* margin: 1em 0px 0px 0px; */
  padding-top: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.user_form button {
  margin: 0px 1em 0px 0px;
}

/* END OF USER ACCOUNT INFO */

/* SUBSCRIPTION FORM  */

/* Styles for the alert container */
.error-toast {
  background-color: #ff6347 !important; /* Red background color */
  color: #fff !important; /* White text color */
}

.sub_form {
  border-radius: 10px;
  margin-top: 2rem !important;
  border: 1px solid gray;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 35vw;
}

.card-icons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.card-icon {
  font-size: 24px;
  color: #333; /* or any color of your choice */
  margin-right: 10px;
}

/* SUBSCRIPTION END */

/* CREATE VIDEO  ADMIN CSS */

.wrapper-class {
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100%;
}
.editor-class {
  /* background-color:lightgray; */
  padding: 1rem;
  border: 1px solid black;
  height: 15vh;
}

.expanded-editor-class {
  /* background-color:lightgray; */
  padding: 1rem;
  border: 1px solid black;
  width: 100%;
  height: 60vh;
}

.expanded-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Adjust the background color and opacity as needed */
  z-index: 1000; /* Set a high z-index to make sure it's above all other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-editor {
  width: 80vw;
  height: 80vh;
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 10px;
  z-index: 1001; /* Set a higher z-index to make sure it's above the overlay */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.expanded-editor-button {
  width: 20%;
}

.toolbar-class {
  border: 1px solid #ccc;
}

.create_video_form {
}

.create-video-checkbox input {
  display: block !important;
}

/* END OF CREATE VIDEO ADMIN  */

/* VIDEO CARD */

.video_link_edit {
  color: #007bff; /* A bright, modern blue color */
  text-decoration: none; /* Removes the underline */
  font-weight: bold; /* Makes the text bold */
  padding: 8px 15px; /* Adds some padding for better visibility and click area */
  border: 2px solid #007bff; /* Adds a border with the same color as the text */
  border-radius: 5px; /* Rounds the corners for a softer look */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  display: inline-block; /* Allows the padding and border to take effect */
  background-color: white; /* Sets a white background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  margin: 10px;
  text-align: center;
}

.video_link_edit:hover {
  background-color: #007bff; /* Changes background on hover */
  color: white; /* Changes text color on hover for contrast */
  text-decoration: none; /* Ensures underline does not reappear on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Enhances shadow on hover for a "lifting" effect */
}

.video-card-search {
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 30vw;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 1000px) {
  .video-card-search {
    width: 40vw;
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .video-card-search {
    width: 90vw;
  }
}

.video-image-container img {
  width: 100%; /* Makes the image fill the container */
  height: auto; /* Maintains the aspect ratio of the image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 35vh;
}

.video-card-search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative; /* Add relative positioning to the image container */
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.video-card-search h2 {
  text-align: center;
  margin: 1rem 0; /* Add some margin to the heading */
}

.video-card-search:hover .play-icon {
  opacity: 1;
}

.video_link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding based on your design */
  text-align: center;
  text-decoration: none;
  color: white; /* Text color */
  background-color: #137ea7 !important; /* Button color */
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; /* Add a transition for a smooth effect */
  margin-bottom: 1rem;

  &:hover {
    background-color: #0e5a77 !important; /* Adjusted color on hover */
    color: white;
  }
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 1rem; /* Adjust the gap between items */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .videos-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .videos-grid {
    grid-template-columns: 1fr; /* One column on very small screens */
  }
}

.video_free {
  font-weight: 600;
  text-align: center;
}

.video-list {
  display: flex;
  flex-direction: column;
}
.video_search_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_search_container input {
  width: 50%;
  margin-right: 1rem;
  height: 2rem;
  padding: 0.5rem; /* Add padding for better appearance */
  border: 3px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: box-shadow 0.3s ease-in-out; /* Add a transition for a smooth effect */

  &:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on focus */
  }
}

.video_search_container button {
  background-color: #137ea7 !important;
  padding: 1rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: box-shadow 0.3s ease-in-out; /* Add a transition for a smooth effect */

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted box shadow on hover */
  }
}
.categories_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Enable wrapping */
  margin-top: 1rem;
}

.categories_container > * {
  /* Selects all direct children of .categories_container */
  margin: 5px; /* Adds 5px margin to all sides */
}

@media screen and (max-width: 768px) {
  .categories_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Adjust the gap between items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .categories_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; /* Adjust the gap between items */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
}

.categories_container button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: 1px solid black;
  margin-right: 1rem;
}

.categories_container button:hover {
  background-color: #c7c7c7;
}

/* 
PAYMENT OPTIONS CSS */

.checkout_page {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.payment-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 35vw;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
}

.payment-option:hover {
  background-color: #f0f0f0;
}

.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  height: 100%;
}

input[type='checkbox'] {
  display: none;
}

.checkbox-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

input[type='checkbox']:checked + .checkbox-circle {
  background-color: #333;
  border-color: #333;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.selected-option {
  margin-top: 10px;
  font-weight: bold;
  width: 40vw;
}

.selected {
  background-color: #333 !important;
  color: white;
}

.payments-box {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.payments-box h2 {
  text-align: center;
  margin-top: 0px !important;
}

.total-amount-box {
  width: 40vw;
}

/* END OF PAYMENT OPTIONS */

/* TOTAL AMOUNT CHECKOUT BOX STYLE  */

.prices-container {
  display: flex; /* Display prices inline */
  flex-wrap: wrap; /* Wrap to the next line if needed */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Add space between price boxes */
}

.price-option {
  display: block; /* Ensure the label behaves as a container */
  border: 1px solid #ccc; /* Border for the box */
  /* Padding inside the box */
  background-color: #f9f9f9; /* Light background for the box */
  cursor: pointer; /* Indicate the entire box is clickable */
  user-select: none; /* Prevent text selection */
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 1rem;
}

.price-option input[type='checkbox'] {
  display: none; /* Hide the actual checkbox */
}

.price-option .price-label {
  width: 25vw;
  display: flex; /* Ensure the span behaves as a container */
  flex-direction: column;
  padding: 10px;
}

.price-option:hover,
.price-option input[type='checkbox']:checked + .price-label {
  transform: scale(1.1);
  background-color: #055d9c; /* Change background on hover/select */
  color: white;
}

.product_image {
  width: 10vw;
  align-self: center;
}

/* END OF TOTAL AMOUNT CHECKOUT BOX STYLE  */

/* VIDEO CARD STYLE */

.free-icon {
  /* Modern blue background */
  background-color: #2d8cff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: sans-serif; /* Adjust font if needed */
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END OF VIDEO CARD STYLE  */

/* VIDEO DETAILS  */

.video-detail-container {
  display: block;
}

.video-card {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .video-card {
    width: 100vw;
  }
}

.video-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.video-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.video-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.video-embed {
  margin-bottom: 20px;
}

.video-date {
  font-size: 14px;
  color: #888;
}

.custom-video-container {
  width: 100%;

  background-color: #333;
  height: 50vh;
}

.video-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.play-button {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
  cursor: pointer;
  margin: 10px;
}

.inscribe-button {
  margin-top: 10px;
}

/* Add more styles as needed */

/* END OF VIDEO DETAILS  */

/* PAGE INDEX STYLE */
.pageIndexContainer {
  text-align: center;
  margin: 20px 0px;
  padding: 2rem;
}

.pageIndexContainer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageIndexContainer button:disabled {
  background-color: #cccccc;
  cursor: default;
}

.pageIndexContainer button:hover:not(:disabled) {
  background-color: #0056b3;
}

.pageIndexContainer span {
  margin: 0 10px;
  font-size: 1rem;
}

/* END OF PAGE INDEX STYLE */
